torch
transformers
vllm==0.8.1
protobuf
grpcio==1.67.1
filelock>=3.16.1
uvloop==0.17.0
onnx==1.13.1
sentence_transformers
einops
pymilvus
psutil
nltk
einops
pymilvus
frontend
fitz
qdrant_client
ollama
redis
chromadb
