torch==2.0.1
transformers==4.30.0
vllm==0.8.1
protobuf>=5.0,<6.0
grpcio==1.67.1
filelock>=3.16.1
uvloop==0.17.0
onnx==1.13.1
sentence_transformers
einops
pymilvus
psutil
nltk
einops
pymilvus
frontend
fitz
